#!/bin/bash

## Update DNS to avoid timeouts reaching IPv4 servers
cat <<EOF > /etc/resolv.conf
nameserver 2606:4700:4700::1111
nameserver 2001:4860:4860::8888
EOF

## Set up VPN
VIRTUALFLEET_VPN_SERVER_CIDR_64="fd6e:cf0d:aefa"

VFLEET_VPN=wg_jaia_vf{{ cloud_env_vars.jaia_fleet_index }}
cat <<EOF > /etc/wireguard/${VFLEET_VPN}.conf
{% include 'wireguard_client.conf.j2' %}
EOF

systemctl enable wg-quick@${VFLEET_VPN}

## Set /etc/network/interfaces
cat <<EOF > /etc/network/interfaces
auto lo
iface lo inet loopback
auto eth0
iface eth0 inet dhcp
EOF

## Restore default hostname
hostnamectl set-hostname "jaia-unnamed"
