div.depth-contour-plot-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

div.depth-contour-plot-topbar {
    width: 100%;
    background-color: whitesmoke;
    display: flex;
}

div#depth-contour-plot {
    flex-grow: 1;
}
